ul,li,a,h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Roboto Slab', serif;
}

/*Header top area*/

.header-top{
	background-color: green;
	color:black;

}
.social-menu-area{
	border-bottom: 1px solid black;

}
.social-menu-area ul { 
  list-style-type: none;
  text-align: center;
  padding: 3px 0px;

}
.social-menu-area ul li{
	display: inline-block;
}
.social-menu-area ul li a{
	display: block;
	color: black;
	padding: 5px;
	font-size: 16px;
	transition: .5s;
	
}
.social-menu-area ul li a:hover{
	color: yellow;
}

/*account area*/
.account-area{
	padding: 5px 0px;
	
}
.account-area ul{
	list-style: none;
	text-align: center;

}
.account-area ul li{
	display: inline-block;
}

.account-area ul li a{
	display: block;
	text-transform: uppercase;
	color: black;
	padding: 5px 8px;
	font-size: 15px;
	text-decoration: none;
	transition: .5s;

}
.account-area ul li:hover a{
	color: yellow;
}

.account-area ul li:nth-child(2){
	border-right:1px solid  black;
	border-left:1px solid  black;
}

/*header logo area */
.header-logo-area{
	padding: 10px 0px;


}
.header-logo{

}

.header-logo img{

	text-align: center;
	margin-bottom: 10px;
}
.header-logo p{
	font-weight: bold;
	color: black;

}

/*menu area*/
nav{
	background-color: green;

}

.menu-area{


}
.menu-area ul{
	list-style-type: none;
	text-align: center;
	padding: 10px 0px;
}
.menu-area ul li{
	display: inline-block;

}
.menu-area ul li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	transition: .5s;
	text-transform: uppercase;
	border-right:1px solid transparent; 
	border-left: 1px solid transparent; 

}
.menu-area ul li:hover a{
	color: yellow;
	border-right:1px solid black; 
	border-left: 1px solid black; 

}

/*Banner area*/
.banner-area{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
	position: relative;

}
.banner-text-area{
	position: absolute;
	top: 10%;
	right: 50px;
	background-color: rgba(189, 195, 199,.80);
	width: 30%;
	padding: 20px;
	color: white;

	border-radius: 2px;
}
.banner-text-area h1{
	color: black;
	font-weight: bold;
	margin-bottom: 15px;
}
.banner-text-area p{
	color: black;
	margin-bottom: 10px;

}
.banner-text-area a{
	margin: auto;
	display: block;
}





/*badge area*/

.badge-area{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #E3E3E3;
}

.badge-area .badge img{
	width: 100%;
	height: 50px;
	padding: 0px;

}


/*Finance area*/


.finance-area{
	padding: 40px 0px;
	text-align: center;
}

.finance h2{
	font-size: 25px;
}
.finance a{
	margin-top: 20px;
}

/*investement area*/

.investement-text:after{
	
	width: 0px;
	height: 0px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid white;
	border-left: 30px solid transparent;
	position: absolute;
	top: -41px;
	left: 50%;
	z-index: 999;
	content: '';
	transform: rotate(45deg);


}



.investment-area{

	color:black;
	padding: 30px 0px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;


}
.investement-text > h5{
	text-align: center;
	padding-top: 50px;
	font-weight: bold;

	
}
.flip-area{
	margin-top: 80px;
}

.investment{
	text-align: center;
	margin-bottom: 80px;
}

.investment .front{
	background-color: green;
	border: 3px solid yellow;
	padding: 40px 25px;
	border-radius: 5px;

}


.investment .front i{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border:1px solid yellow;
	padding: 5px;
	margin-bottom: 10px;

}
.investment .front h3{
	margin-bottom: 5px;

}


.investment .back{
	background-color: green;
	border: 3px solid yellow;
	padding: 40px 25px;
	border-radius: 5px;

}
.investment .back h4{

	margin-bottom: 10px;
	font-size: 16px;

}

.investment .back p{
	font-size: 14px;
}




/*investor-area*/
.investor-area{
	padding: 50px 0px;
}

.investor-header{

}
.investor-header > h4{
	text-align: center;	
	font-weight: bold;
	margin-bottom: 30px;
}

.investor:after{
	content: '';
	display: block;
	clear: both;
}
.investor-icon{
	float: left;
	width:7%;


}
.investor-icon i{
	background-color: black;
	color:white;
	padding: 5px;
	border-radius: 4px;

}



.investor-content{
	float: left;
	width:93%;
}
.investor-content h5{
	margin-bottom: 10px;
	font-weight: bold;
}
.investor-content p{
	margin-bottom: 8px;
}

/*more-resources-area*/

.more-resources-text:after{
	width: 0px;
	height: 0px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid white;
	border-left: 30px solid transparent;
	position: absolute;
	top: -41px;
	left: 50%;
	z-index: 999;
	content: '';
	transform: rotate(45deg);
}

.more-resources-area{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 0px;
	position: relative;
}

.more-resources-text{
	margin-bottom: 40px;
}

.more-resources-text h5{
	text-align: center;
	color: white;
	font-weight: bold;
}

.more-resources{
	text-align: center;
}

.more-resources-content{
	background-color: black;
	color: white;
	padding: 30px;
	border-radius: 5px;

}
.more-resources-content h4{
	margin-bottom: 10px;
}
.more-resources-content p{
	margin-bottom: 10px;
}


/*Blog page area*/



.blog-body-area{
	padding: 30px 0px;
}
.blog-box-area{
	box-shadow:7px 7px 7px #888888;
}

.item{
	margin: 0px 15px 15px 0px;
}

.blog-box-text-area{
	background-color: green;/*#bdc3c7;*/
	color: black;
	padding: 25px;

	margin: auto;

}
.blog-box-text-content a{
	color: yellow;
}

.blog-box-text-header{
	border-bottom:1px solid black;
	padding-bottom: 15px;
	margin-bottom: 3px;
}
.blog-box-text-header h5{
	margin-bottom: 5px;
	color:yellow;
}
.blog-box-text-header p{
	font-size: 12px;
}
.blog-box-text-header p span{
	color:yellow;

}


.blog-box-text-content{
	border-top:1px solid black;
	padding-top:15px;	
}

.blog-box-text-content p{
	font-size: 14px;	
}
.blog-box-text-content a{
	
}

.blog-img-area{
	width: 100%;
}
.blog-img-area a img{
	width: 100%;

}



/*Contact us page*/

.main-contact-us{
	padding: 40px 0px;
}


.input-content{
	background-image: url("../../asserts/images/contact-banner.jpg");
	background-attachment: fixed;

	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 999;
	background-position: 100% -5%;
	
	width: 100%;
	height: 100%;

		
}

.shado{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 128, 0,.3);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.input-content h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0px 20px 0px;
	font-weight: bold;


}
.input-content form{
	width: 60%;
	margin: auto;
	padding-bottom: 20px;

}

.input-content form input , .input-content form textarea{
	display: block;
	width: 100%;
	padding: 5px 10px;
	background-color: rgba(189, 195, 199,1.0);
	margin-bottom: 10px;
	border:1px solid transparent;
	outline: transparent;
	color: black;
}
.input-content form input[type="submit"]{
	text-transform: uppercase;
}

/*About page*/

.welcome-area{
	padding: 40px 0px;
}


.welcome-image-area{
	width: 100%;
	height: 100%;

}
.welcome-image-area img{
	width: 100%;
	height: 100%;
}

.welcome-content-area{
	border-left: 1px solid black;
}
.welcome-content-area h1{
	width: 80%;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;

}
.welcome-content-area p{

	margin-bottom: 10px;

}

.sign-up-area{
	
	background-color: #008000;

	padding: 30px 0px;
	border-bottom: 1px solid white;

}

.sigh-up-content{
	
}
.sigh-up-content h1{
	width: 80%;
	color: white;
	margin-bottom: 15px;
	font-size: 40px;
	font-weight: bold;
	line-height: 45px;

}
.sigh-up-content p{
	width: 80%;
	line-height: 30px;
	font-size: 17px;
	

}

.sigh-up-input{

}

.text-email:after{
	content: ' ';
	display: block;
	clear: both;
}
.text-email{
	width: 100%;
}
.text-email input{
	float: left;
	width: 48%;
}
.text-email{
	margin-top: 72px;
	margin-bottom: 10px;
}
.text-email input{
	padding: 10px  8px;
	border-radius: 5px;
	border:1px solid transparent;
	outline: none;
}

.text-email input[type='text']{
	margin-right: 5px;

	
}

.sigh-up-input > input{
	border:1px solid transparent;
	padding: 8px 15px;
	border-radius: 5px;
}


/*Story area*/


.story-area{
	padding: 60px 0px;
}

.story-content{


}
.story-content h1{
    padding: 0px 1px 0px 0px;
    width: 23%;
    margin: auto;
    margin-top: -30px;
    background-color: white;

    text-align: center;

}
.story-content > p{
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	border-top:1px solid #bdc3c7;
	border-bottom:1px solid #bdc3c7;

	padding: 1px 0px;


}

.story-content-text{
	padding: 20px 0px;
}

/*login area*/
.accaunt-area{
	padding: 50px 0px;


}

.accaunt{
	width: 70%;
	margin: auto;
	background-color: rgba(0 ,128 , 0 , .7);
		border-radius:5px;
}

.accaunt .active a{
		background-color: rgba(0 ,128 , 0 , 1.0);
}


.accaunt ul{
	list-style: none;
	width: 60%;
	margin: auto;

}
.accaunt ul:after{
	content: '';
	display: block;
	clear: both;
}

.accaunt ul li{
	float: left;
	width: 50%;

}
.accaunt ul li a{
	display: block;
	padding: 15px 30px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.login-area{

	padding: 50px 0px;
	width: 90%;
	margin: auto;
}

.login-area > h1{
	text-align: center;
	color: white;
	
	margin-bottom: 20px;
}

.input-name:after{
	content: '';
	display: block;
	clear: both;
}
.input-name{
	width: 100%;
	margin-bottom: 25px;

}

.input-name input{
	width: 48%;
	float: left;
	padding: 10px 10px;
	border:1px solid transparent;
	outline:none;
	background-color: rgba(0 ,128 , 0 , .7);
	color:white;


}

.input-name input::placeholder{
	color:white;
}

.input-name input:nth-child(2){
	float: right;
}

.login-input-area > input{
	display: block;
	width: 100%;
	border:1px solid transparent;
	background-color: rgba(0 ,128 , 0 , .7);
	color:white;

	padding: 10px 10px;
	outline:none;	
	margin-bottom: 25px;
}

.login-input-area > input::placeholder{
	color:white;
}

.login-input-area > input[type="submit"]{
	text-transform: uppercase;
	cursor: pointer;
}


/*accaunt page*/

.accaunt-page{
	padding: 50px 0px;
}

.dashboard-area{

}

.img-inf{
	margin-bottom: 15px;
}
.img-inf-image{
	margin: auto;
	width: 100%;
}

.img-inf-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-left: 10px;

}
.img-inf-content{
	
}
.img-inf-content h4{
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-weight: bold;

}
.img-inf-content p{
	font-size: 18px;
	margin-top: 10px;

}



.dashboard{

    padding: 40px 0px 0px 0px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    border-radius: 3px;
}
.dashboard > ul{
	list-style: none;
}

.dashboard > ul li{
	position: relative;
}
.dashboard > ul li a{
	display: block;
	padding: 5px 0px;
	border-top: 1px solid black;
	
	text-decoration: none;
	color: black;
	transition: .5s;
}
.dashboard > ul li.active a,.dashboard > ul li.active i{
	background-color: green;
	color:white;
}
.dashboard > ul li.active:after{
    position: absolute;
    right: -8%;
    bottom: -2%;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 16px solid green;
   
}


.dashboard > ul li:hover a{
	background-color: green;
	color:white;
}
.dashboard > ul li:hover a i{
	color:white;
}


.dashboard > ul li:nth-child(1) a {
	border-top: 1px solid black;
}

.dashboard > ul li a i{
	color: black;
	margin-right: 8px;
	margin-left: 8px;
	transition: .5s;
}




.details-area{
	
}



.details-area{
	border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    border-radius: 3px;
}

.details{
	margin-top: 10px;
	margin-bottom: 30px;
}
.details-header{
	margin-bottom: 30px;
}
.details-header:after{
	content: '';
	display: block;
	clear: both;

}
.details-header h1{
	float: left;
}
.details-header a{
	float: right;
	margin-top: 5px;
}

.details-body{
	background-color: rgba(0,128,0,.2);
	text-align: center;
	padding: 30px;


}
.details-body > i{
	color: white;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 90px;


}
.details-body > a{
	margin-top: 10px;
}

.intareste-header{
	padding: 20px 0px;
}
.intareste-header{

}

.intareste-content{
	background-color: rgba(0,128,0,.2);
	text-align: center;
	padding: 30px;	
}
.intareste-content > i{
	color: white;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 90px;
}

.intareste-content > a{
	margin-top: 10px;
}

/*inbox page*/
.inbox-body{
	background-color: rgba(0,128,0,.2);
	text-align: center;
	
	height: 300px;	
	margin-top: 20px; 
	padding: 40px 0px;

}
.inbox-body p{
	margin-bottom: 20px;
}

/*Setting page*/

.ui-accordion .ui-accordion-header {
	background-color: green;
	border:1px solid green;
	color: white;
	outline: none;

}

/*.login-details:after{
	content: '';
	display: block;
	clear: both;
}
*/
.login-details{
	width: 100%;


}

.login-bgc{
	padding: 50px 0px;
	background-color: rgba(0 , 128 , 0 ,.1);

}

.login-bgc input{
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	outline: none;
	width: 100%;
}



#accordion{
	margin-bottom: 10px;
}

.profile-picture-area{
	text-align: center;

}
.profile-picture{

	padding: 50px 0px;
	background-color: rgba(0 , 128 , 0 ,.1);

}
.profile-picture input{
	
	margin-bottom: 10px;
	margin-right: -63px;
}
.profile-picture p{
	text-align: center;
}

.email-address{
	padding: 50px 50px;
	background-color: rgba(0 , 128 , 0 ,.1);

}

















/*Footer area*/

footer{
	background-color: green;
}

.footer-top-area{
	padding: 30px 0px;
	color:black; 
	border-bottom: 1px solid black;

}
.footer-top-area h6{

	text-transform: uppercase;
	margin-bottom: 30px;

}
.footer-top-area ul{
	list-style: none;
}
.footer-top-area ul li{
	
}
.footer-top-area ul li a{
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	transition: .5s;
}
.footer-top-area ul li:hover a{
	color: yellow;

}

.footer-top-area ul li a:before{
	content: '> ';
	color: white;

}

.footer-copyright-area{
	color: yellow;
	padding: 40px 0px;
}

.footer-copyright-area .social-menu-area{
	border-bottom: 1px solid transparent;
}
.footer-copyright-area .social-menu-area ul{
	float: right;
}


.copyright-text p{
	font-size: 13px;
}
